fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
anthropic
python-dotenv
huggingface_hub
google-generativeai
google-genai
chromadb
langchain-chroma
langchain
langchain-core
langchain-community
pypdf
openai
langchain-openai
langchain-google-genai 
langchain-text-splitters
beautifulsoup4
supabase
docker
