fastapi
uvicorn
pandas
numpy
scikit-learn
joblib
anthropic
python-dotenv
huggingface_hub
google-generativeai
google-genai
chromadb
sentence-transformers
langchain
langchain-core
langchain-community
transformers
torch
pypdf
openai
langchain-openai
langchain-google-genai 
langchain-text-splitters
beautifulsoup4
supabase
@supabase/supabase-js
@supabase/ssr
